important_file/linux/AppDir/usr/bin/bcm filter=lfs diff=lfs merge=lfs -text
important_file/windows/bcm_file/bcm.exe filter=lfs diff=lfs merge=lfs -text
important_file/mac/bcm.app/Contents/Frameworks/Electron[[:space:]]Framework.framework/Versions/A/Electron[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
