body {
  background-color: rgb(255, 252, 247);
  user-select: none;
}

#navbar {
  background-color: #fff;
  width: 100vw;
  height: 40px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  color: rgb(255, 204, 34);
  font-size: 16px;
  font-weight: bold;
  -webkit-app-region: drag;
}

#navbar-button-bar {
  position: absolute;
  right: 5px;
  display: flex;
  flex-direction: row-reverse;
}

.navbar-button {
  display: flex;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-width: 0px;
  border-radius: 5px;
  transition: background-color 0.3s;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  -webkit-app-region: no-drag;
  -webkit-user-drag: none;
}

.navbar-button:hover {
  background-color: rgb(255, 250, 243);
}

img {
  -webkit-user-drag: none;
}

#main,
#aboutus {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  flex-direction: column;
  font-size: 13px;
  color: rgb(133, 122, 99);
}

#aboutus {
  display: block;
  z-index: 3;
  background-color: #fff;
  transition: transform 0.5s;
  transform: scale(0);
}

#convert {
  width: 120px;
  height: 36px;
  background-color: rgb(250, 154, 75);
  border-radius: 5px;
  border-color: transparent;
  color: #fff;
  transition: background-color 0.3s;
}

#convert:hover {
  background-color: rgb(248, 136, 36);
  cursor: pointer;
}

#bcm-id {
  border: 3px solid rgb(250, 154, 75);
  border-radius: 5px;
  width: 180px;
  height: 25px;
  opacity: 1;
  text-align: center;
  margin-block-end: 1em;
  transition: all 0.3s;
}

#bcm-id:hover {
  border: 3px solid rgb(248, 136, 36);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

#close,
#minus {
  z-index: 10;
}

p {
  margin-block: 5px;
}

#intro {
  position: absolute;
  top: 55px;
  left: 40px;
  font-size: 12px;
}

.space {
  margin-left: 12px;
}

.bold {
  font-weight: bold;
}

a {
  color: currentColor;
  -webkit-user-drag: none;
}

#version {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 78px;
  align-items: center;
}

#pic {
  background: url(./picture/pic_aboutUs.png) no-repeat;
  width: 252px;
  height: 78px;
  z-index: 8;
  position: absolute;
}

#funcs {
  position: absolute;
  width: 125px;
  top: 50px;
  display: flex;
  left: 8px;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  z-index: 1;
}

#change {
  background-color: rgb(255, 231, 189);
  border-radius: 5px;
  padding: 5px 2px;
  display: flex;
}

#line {
  width: 25px;
  height: 25px;
}

#wifi {
  width: 40px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  align-content: center;
  background-color: rgb(255, 231, 189);
  transition: background-color 0.3s;
}

.into {
  width: 30px;
  display: flex;
  height: 30px;
  margin: 0 3px;
  background-color: transparent;
  border-width: 0px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  z-index: 3;
  color: rgb(133, 122, 99);
  transition: color 0.3s;
}

#seld {
  width: 30px;
  display: flex;
  height: 30px;
  margin: 0 3px;
  position: absolute;
  background-color: rgb(250, 154, 75);
  border-width: 0px;
  border-radius: 5px;
  align-items: center;
  left: 37px;
  justify-content: center;
  z-index: 2;
  transition: left 0.3s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.swal-overlay {
  background-color: transparent;
}

.swal-footer {
  text-align: center;
}

.swal-modal {
  min-width: 374px;
  width: 374px;
  box-shadow: 0px 2px 8px 0px rgba(95, 53, 24, 0.2);
  border-radius: 4px 4px 0px 4px;
}

#loading {
  width: 0vw;
  height: 10px;
  background-color: rgb(248, 136, 36);
  position: absolute;
  top: 40px;
  display: flex;
  transition: width 0.3s, opacity 0.3s;
  align-items: center;
  opacity: 0;
  justify-content: flex-start;
  left: 0;
}
